<div class="container">

  <div class="content">
    <table id="tabela-impressoras">
      <tr>
        <th>Status</th>
        <th onclick="sortTable(1)">Fila</th>
        <th onclick="sortTable(2)">IP</th>
        <th onclick="sortTable(3)">Serial</th>
        <th onclick="sortTable(3)">Contador</th>
        <th onclick="sortTable(4)">Modelo</th>
        <th onclick="sortTable(5)">Toner (%)</th>
        <th onclick="sortTable(6)">Kit de manuteção (%)</th>
        <th onclick="sortTable(7)">Unidade de imagem (%)</th>
      </tr>

      {{#each tabela}}
      <tr>

        {{#ifString this.rede "Online"}}

        <td class="status-ball-ok"></td>

        <td class="text-left">{{this.nomeFila}}</td>
        <td><a href="http://{{this.enderecoFila}}" target="_blank">{{this.enderecoFila}}</a></td>
        <td>{{this.serial}}</td>
        <td>{{this.contador}}</td>
        <td class="text-left">{{this.modelo}}</td>

        {{#if this.toner 10}}
        <td class="error-color">{{this.toner}}</td>
        {{else}}
        <td>{{this.toner}}</td>
        {{/if}}

        {{#if this.kitManutencao 10}}
        <td class="error-color">{{this.kitManutencao}}</td>
        {{else}}
        <td>{{this.kitManutencao}}</td>
        {{/if}}

        {{#if this.unidadeImagem 10}}
        <td class="error-color">{{this.unidadeImagem}}</td>
        {{else}}
        <td>{{this.unidadeImagem}}</td>
        {{/if}}
        <td>
          <form method="GET" action="/detalhes">
            <input type="hidden" name="enderecoFila" value="{{this.enderecoFila}}" />
            <input type="hidden" name="nomeFila" value="{{this.nomeFila}}" />
            <input type="hidden" name="modelo" value="{{this.modelo}}" />
            <input type="hidden" name="toner" value="{{this.toner}}" />
            <input type="hidden" name="fabricante" value="{{this.fabricante}}" />
            <input type="hidden" name="kitManutencao" value="{{this.kitManutencao}}" />
            <input type="hidden" name="unidadeImagem" value="{{this.unidadeImagem}}" />
          </form>
        </td>
        {{/ifString}}

        {{#ifString this.rede "Offline"}}
        <td class="status-ball-error"></td>
        <td class="text-left">{{this.nomeFila}}</td>
        <td>{{this.enderecoFila}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        {{/ifString}}

      </tr>
      {{/each}}
    </table>
  </div>
</div>

{{!-- <form method="get" action="/">
  <button id="refresh-float-button" VALUE="Atualizar" onclick="getPrinterInformation()">
    <img src="images/reload.png" />
  </button>
</form> --}}