<div class="container">

    <div id="modal-details" class="modal">
        <div class="modal-content">

            <h1>{{dados.nomeFila}}</h1>

            <div class="form-group">
                <b>IP</b>
                <span>{{dados.enderecoFila}}</span>
            </div>

            <div class="form-group">
                <b>Fabricante</b>
                <span>{{dados.fabricante}}</span>
            </div>

            <div class="form-group">
                <b>Modelo</b>
                <span>{{dados.modelo}}</span>
            </div>

            <div class="form-group">
                <b>Serial</b>
                <span>{{dados.serial}}</span>
            </div>

            <div class="form-group">
                <b>Contador</b>
                <span>{{dados.contador}}</span>
            </div>

            <div class="form-group">
                <b>Toner</b>
                <span>{{dados.toner}}</span>
            </div>

            <div class="form-group">
                <b>Kit de manutenção</b>
                <span>{{dados.kitManutencao}}</span>
            </div>

            <div class="form-group">
                <b>Unidade de imagem</b>
                <span>{{dados.unidadeImagem}}</span>
            </div>

            <form action="/details">
                <button type="submit" class="modal-close">
                    <i class="fa-solid fa-square-xmark fa-fw fa-2x"></i>
                </button>
            </form>

        </div>
    </div>

</div>